<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
        }

        html,
        body {
            width: 100%;
            height: 100%;
        }

        .container {
            margin: 0 auto;
            width: 400px;
        }

        ul, li {
            list-style: none;
        }
    </style>

</head>
<body>
<div class="page">
    <div id="header">
        <div id="title">
            <h1>Index Page</h1>
        </div>
        <!--<div id="logindisplay">-->
            <!--[ <a href="/LogOn.html">Log On</a> ]-->

        <!--</div>-->
        <div id="menucontainer">
            <ul id="menu">
                <li><a href="/">Index</a></li>
                <li><a href="/Dashboard.html">Dashboard</a></li>
            </ul>
        </div>
    </div>
    <div id="main">

    </div>
    <div id="footer">
    </div>
</div>
</body>
</html>
